#bg1 {
  background: url(https://unsplash.it/1366/768?image=816&blur) no-repeat center center fixed !important;
  background-size: cover !important;
  transition: ease 1s; }

#bg2 {
  background: url(https://unsplash.it/1366/768?image=759&blur) no-repeat center center fixed !important;
  background-size: cover !important;
  transition: ease 1s; }

#bg3 {
  background: url(https://unsplash.it/1366/768?image=579&blur) no-repeat center center fixed !important;
  background-size: cover !important;
  transition: ease 1s; }
