
.buzzer-card-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
}


.buzzer-card {
    margin: 10px;
    background: #fff;
    width: 282px;
    min-height: 291px;
    border-radius: 3px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

    .flex{
        display: flex;
        justify-content: space-between;
    }

    &__img-profile{
        width: 93px;
        height: 93px;
        border-radius: 50%;
    }

    .btn-gray {
        background:#8e8e8e;
        color:#fff;
    }
    .content {
        margin-top: 10px;
        text-align: center;
    }

    .userinfo{
        display: flex;
        margin-top: 15px;
    }
    .userinfo div{
        // float: left;
        margin-left: 10px;
    }
    .info-content h2{
        font-family: Montserrat;
        font-size: 17px;
        font-weight: 300;
        letter-spacing: 0.7px;
        text-align: center;
        color: rgba(0, 0, 0, 0.68);
        margin: 0px;
    }
    .info-content p {
        font-family: Montserrat;
        font-size: 25px;
        letter-spacing: 0.7px;
        text-align: center;
        color: rgba(0, 0, 0, 0.68);
        margin-top: 13px;
    }

    .displayName {
        font-family: Montserrat;
        font-size: 17px;
        letter-spacing: 0.7px;
        text-align: left;
        color: rgba(0, 0, 0, 0.68);
        font-weight: bold;
    }
    .username{
        font-family: Montserrat;
        font-size: 17px;
        font-weight: 300;
        letter-spacing: 0.7px;
        text-align: center;
        color: rgba(0, 0, 0, 0.68);
    }
    .btn-buzzer{
        width: 100%; 
        margin-top: 10px;
        font-size: 24px;
        letter-spacing: 0.9px;
        text-align: center;
        color: #ffffff;
    }
    .user-content{
        text-align: center;
    }
    // .user-content p:last-child{
    //     font-family: Montserrat;
    //     font-size: 25px;
    //     letter-spacing: 0.7px;
    //     text-align: center;
    //     color:#09f;
    // }
    // .user-content p:first-child{
    //     font-size: 17px;
    //     font-weight: 300;
    //     letter-spacing: 0.7px;
    //     text-align: center;
    //     color: rgba(0, 0, 0, 0.68);
    // }
    .line {
        height: 60px;
        border: solid 0.5px #979797;
        border: solid 0.5px #979797;
    }
    .blue{
        color: $color-primary;   
    }

}

.filter {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    
    span{
        font-weight: bold;
        margin-top: 5px;
        margin-right: 10px;
        font-size: 14px;
    }

    select{
        width: 150px;
    }
}