.crawl-btn {
    display: flex;
}
.crawl-btn-primary {
    background: #fff;
    border-top: 1px solid #f5f5f5 !important;
    border-left: 1px solid #f5f5f5 !important;
    color: #0E9FFB;
    margin-top: 0 !important;
}
.crawl-btn-danger {
    background: #fff;
    border-top: 1px solid #f5f5f5 !important;
    color: #f25656;
    margin-top: 0 !important;
}
